.edit-button{
    background: rgba(128, 128, 128, 0.256);
    border: none;
    font-size: 18px;
    margin-right: 0.5rem;
}
.delete-button{
    background: red;
    border: none;
    font-size: 18px;
}
